---
title: Articles
description: Tulisan saya tentang pengembangan aplikasi mobile dan web.
layout: simple
layout_title: Tulisan saya tentang pengembangan aplikasi mobile dan web.
layout_description: Baca tulisan tulisan pilihan saya tentang pengembangan aplikasi mobile dan web.
---

<div class="flex max-w-3xl flex-col space-y-12">
  {% assign post = site.posts.first %}
  {% include post.liquid post=post badge="new" %}
  <div class="space-y-16">
    {% assign favorites = site.posts | where: "favorite", true | sort: "index" %}
    {% for post in favorites %}
      {% include post.liquid post=post badge="favorite" %}
    {% endfor %}
  </div>
</div>
<div class="max-w-prose">
  {% include newsletter/cta.liquid %}
</div>
<p class="mt-16 text-lg text-gray-600 md:mt-24">dan semua tulisan berjumlah <strong>{{ site.posts.size }} artikel</strong> yang pernah saya publikasikan di blog ini.</p>
<div class="mt-8 md:border-l md:border-gray-100 md:pl-6 md:mt-16">
  <div class="flex max-w-3xl flex-col space-y-16">
    {% assign posts = site.posts %}
    {% for post in posts %}
      {% include post.liquid post=post date=true %}
    {% endfor %}
  </div>
</div>
