---
title: Services
description: I've been building mobile and web applications professionally since 2015. Since then a many web application are release and numerous of mobile apps are released to both Play Store and App Store.
layout: simple
layout_title: Ready to bring your ideas into reality?
---

<div class="-mt-16 sm:-mt-20">
    <a href="https://wa.me/6281234567890" target="_blank" class="button bg-green-700 text-white font-semibold button-lg flex">
        {% svg /assets/images/icons/mini/whatsapp.svg class="-ml-0.5 h-5 w-5 text-white" fill="white" %}
        Chat on WhatsApp
    </a>

    <a href="mailto:bagus@bagusaji.com" class="button button-primary button-lg flex mt-4">
        {% svg /assets/images/icons/outline/envelope.svg class="-ml-0.5 h-5 w-5 text-white" %}
        Email Bagus
    </a>
</div>

<ul class="flex max-w-xl flex-col space-y-16 mt-16">
    {% for service in site.data.services %}
    {% include service.liquid service=service %}
    {% endfor %}
</ul>
